body {
    background: rgba(0, 0, 0, .1) url("/static/img/wood.png");
    text-align: center;
	font-family: 'Roboto', sans-serif;
}

input {
	font-family: 'Roboto', sans-serif;
}

#imagecontainer {
	display: grid;
	height: 100%;
}

#centerfit {
	max-width: 100%;
	max-height: 100vh;
}

#centercontainer {
    position: absolute;
    top: 40%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-60%);
    -webkit-transform: translateX(-50%) translateY(-60%);
    transform: translateX(-50%) translateY(-60%);
}

#servertext {
	position: absolute;
	left: 50%;
	-moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
	text-align: left;
	/*border: thin solid;*/
	padding: 2px;
	width: 90%;
	margin-bottom: 60px;
}

#credits {
	text-align: left;
	position: fixed;
	left: 0;
	bottom: 0;
}