body {
	background: #FFFFFF;
	text-align: center;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}

input {
	font-family: 'Roboto', sans-serif;
}

#imagecontainer {
	display: grid;
	height: 100%;
}

#centerfit {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}

#centercontainer {
    position: absolute;
    top: 40%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-60%);
    -webkit-transform: translateX(-50%) translateY(-60%);
    transform: translateX(-50%) translateY(-60%);
}

#credits {
	text-align: left;
	position: absolute;
	bottom: 0;
}