<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    	<script src="/static/scripts/dropdown-script.js"></script>
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
		<link rel="manifest" href="/static/favicon/site.webmanifest">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    	<meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="/static/css/style.css">
  		<title>Baker Minecraft Server</title>
    </head>
    <body>
		<div id="center-box">
			<img id="center-fit" src="/static/img/baker-minecraft.png" alt="Baker Minecraft" class="hidden-mobile">
			<img id="center-fit" src="/static/img/baker-minecraft-mobile.png" alt="Baker Minecraft" class="visible-mobile">
			<div id="background-box">
				<br>
				Start a server by inputting the password in the box below and pressing submit!  The IP Address will then be provided.<br>
				Servers will automatically shut down after 15 minutes without any players online.<br>
				<form action="{{ url_for('init_server') }}", method="POST">
					<select name="server" type="text" id="server-dropdown">
						<option value="">-select server-</option>
						<option value="vanilla-mc-server">Vanilla</option>
						<option value="ricebuild-mc-server">Rice University Build</option>
					</select>
					<input type="password" name="password" placeholder="Password">
					<input type="submit" value="Start Server">
				</form>
				<small><em>(Press 'Start Server' only once, it takes approximately 10 seconds to load)</em></small>
				<h2>{{ ipMessage }}</h2>
				<div id="server-text"></div>
			</div>
		</div>
		<div id="credits">
			<small><small>
				<a href="https://docs.google.com/document/d/1_FQOq_T1ryXIDVjiGYq_63Avd_S3g1qk7L-D64nZu14/edit?usp=sharing">Rules and Instructions</a> / <a href="https://github.com/lbonnage/baker-minecraft-server">Github Repository</a> / <a href="https://github.com/lbonnage/baker-minecraft-server/issues">Issue Tracker</a> / <a href="https://forms.gle/dt1BjjC9643Cgz1b8">Suggestions</a><br>
				Noah Rossi (Baker '23), James Warner (Baker '20), Liam Bonnage (Baker '20)
			</small></small>
		</div>
    </body>
</html>