<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
		<link rel="manifest" href="/static/favicon/site.webmanifest">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
    	<meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="/static/style.css">
  		<title>Baker Minecraft Server</title>
    </head>
    <body>
        <div id="centercontainer">
			<div id="imagecontainer">
				<img id="centerfit"	 src="/static/Baker-Minecraft.png" alt="Baker Minecraft">
			</div>
            <h1>On-Demand Minecraft Server for Baker College</h1>
			Start the server by inputting the password in the box below and pressing submit!  IP Address will then be provided.<br>
			Server will automatically shut down after 15 minutes without any players online.<br>
			<a href="https://docs.google.com/document/d/1_FQOq_T1ryXIDVjiGYq_63Avd_S3g1qk7L-D64nZu14/edit?usp=sharing">Rules and Instructions</a><br><br>
            <form action="{{ url_for('init_server') }}", method="POST">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Start Server">
            </form>
			<small><em>(Press 'Start Server' only once, it takes approximately 10 seconds to load)</em></small>
            <h2>{{ ipMessage }}</h2>
        </div>
		<div id="credits">
			<small>
				<a href="https://github.com/lbonnage/baker-minecraft-server">Github Repository</a><br>
				Noah Rossi (Baker '23), James Warner (Baker '20), Liam Bonnage (Baker '20)
			</small>
		</div>
    </body>
</html>