<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
		<link rel="manifest" href="/static/favicon/site.webmanifest">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    	<meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="/static/style.css">
  		<title>Baker Minecraft Server</title>
    </head>
    <body>
    	<h1>On-Demand Minecraft Server for Baker College</h1>
    	<form action="{{ url_for('init_server') }}", method="POST">
    		<input type="password" name="password" placeholder="Password">
    		<input type="submit" value="Start Server">
            <div><small><em>(Press 'Start Server' only once, it takes approximately 10 seconds to load)</em></small></div>
    	</form>
		<h2>{{ ipMessage }}</h2>
		<div id="credits">
			<small>
				<a href="https://github.com/lbonnage/baker-minecraft-server">Github Repository</a><br>
				Noah Rossi (Baker '23), James Warner (Baker '20), Liam Bonnage (Baker '20)
			</small>
		</div>
    </body>
</html>